datadir="/var/lib/proxysql"

admin_variables =
{
    admin_credentials="__PROXYSQL_ADMIN_USER__:__PROXYSQL_ADMIN_PASSWORD__"
    mysql_ifaces="0.0.0.0:6032"
    restapi_enabled=true
    web_enabled=true
    web_port=6080
}

mysql_variables =
{
    interfaces="0.0.0.0:6033"
}

pgsql_variables =
{
    interfaces="0.0.0.0:6133"
}

mysql_servers =
(
    {
        address="mysql"
        port=3306
        hostgroup=0
    }
)

pgsql_servers =
(
    {
        address="postgres"
        port=5432
        hostgroup=0
    }
)
